<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}DEVOUR TIME!{{else}}EAT UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Burger Deleted!</button>
</li>
